
header {
    overflow: auto;
    text-align: center;
    margin-top: 5px;
}

h1 {
    font-size:65px;
    color: rgb(124, 38, 38);
    margin-left: 15px;
    text-align: center;
    font-family: "Bangers";
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
    letter-spacing: 3px;
}

li {    
    list-style: none;
}

#container{
    margin: 0 auto;
    padding: 10px;
    text-align: center;    
    width: 45%;
    line-height: 32px;
    background: black;
    background-color: rgba( 0, 0, 0, 0.7);
    border-radius: 25px;
    border: 3px solid rgb(129, 49, 49);
    color: white;
    overflow: auto;
}


html {
background: url("../images/background.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.btn {
    background: rgb(170, 93, 93);
    width: 250px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: black;
    font-size: 16px;
    border: 1px solid black;
    font-family: "Coda";
}

#quiz, #correct, #incorrect, #startover{
    font-size: 20px;
    font-family: "Coda";
}

#time {
    font-size: 25px;
    font-family: "Audiowide";
    margin-bottom: 5px;
}

.pics {
    width: 400px;
    height: auto;
}

